
body {
    font-family: Arial, Helvetica, sans-serif;
    background-image:url(https://nl.openfoodfacts.org/images/products/226/008/600/2024/front_nl.3.400.jpg);
    font-size: 14px;
    color: navy;
}
#top {
    background-color: #ccc;
    padding: 20px
}
h1 {
    color: yellow;
    background-color: blue;
}
h1 {
    color: #ffc;
    background-color: yellow;
	
}

.intro {
    color: #CD5C5C;
    font-weight: bold;
}
h2 {
    color: #6A5ACD;
}


#top {
    background-color:#E6E6FA;
    padding: 1em
}
#top h1 {
    color: yellow ;
}
#top p {
    color: red;
    font-weight: bold;
}
.random {
  font-family: 'Times New Roman', Times, serif; 
  color: green;

}
a:active {
    color: red;
}

a:hover {
    text-decoration: none;
    color: blue;
    background-color: yellow;
}

input:focus, textarea:focus {
    background: #eee;
}
.random ;{
    margin-top: 10px;
    margin-right: 5px;
    margin-bottom: 10px;
    margin-left: 20px;
}
.random {
    margin: 1px 5px 10px 20px;
}
.random {
    border-width: 1px;
    border-color: #98c379;
    border-style: solid;
}
.random {
    border: 1px#98c379 solid;
}

.random {
    font: italic bold 12px/2 courier;
}
.cheese {
    font: 14px/1.5 "Times New Roman", times, serif;
    padding: 30px 10px;
    border: 1px black solid;
    border-width: 1px 5px 5px 1px;
    border-color:#6c3c70;
    margin: 10px 50px;
}
li { display: inline }
p {
    font-size: 12px;
}

p:first-letter {
    font-size: 24px;
    float: left;
}

p:first-line {
    font-weight: bold;
}
